<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Speech</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>        
        <div id = "container" class="text-center">
            <h1 class = "container-fluid">Speech Recognizers</h1>        
            <a href = /wavfile>File Recognizer</a>
            <br>
            <a href = /mic>Input through microphone</a>        
        </div> 
    </body>
</html>
